.section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(32, 32, 155);
  color: white  ;
}

.banner{
  background-color: rgb(23, 23, 110);
  height: 50vh;
}

.active{
  background-color: rgb(31, 128, 79);
}

.photos{
  display: flex;
  flex-wrap: wrap;
  color: wheat;
  margin: 20px;
  align-items: center;
  justify-content: center;
} 

.photo-card:not(:last-child) {
  margin-right: 10px;
}

.photo-card img{
  border-radius: 15px;
  height: 200px;
  width: 200px;
}

.photo-card__skeleton {
  background-color: rgba(0,0,0,0.2);
  border-radius: 15px;
  height: 200px;
  width: 200px;
}